:root {
  // - Family: [Alata](https://fonts.google.com/specimen/Alata)
  --font-alata: "Alata", sans-serif;
  // - Weight: 400
  // - Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
  --font-josefin: "Josefin Sans", sans-serif;
  // - Weight: 300
  // Colors
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
  // Properties
  font-size: 15px;
  --transition: 0.2s ease;
}

$mobile: 375px;
$desk: 1000px;
$xxl: 1350px;
