.header {
  @include layout;
  background-image: url("../../images/mobile/image-hero.jpg");

  @media (min-width: $desk) {
    background-image: url("../../images/desktop/image-hero.jpg");
    background-size: contain;

    height: 400px;
  }
  padding-bottom: 16rem;

  &__title {
    margin-top: 9rem;
    padding: 1.5rem 2rem;
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 2.65rem;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;

    @media (min-width: $desk) {
      width: 400px;
      margin-top: 7rem;
    }
  }
}
