.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 120px;
    position: relative;
    z-index: 13;
  }

  &__burguer {
    width: 1.7rem;
    position: relative;
    z-index: 13;

    @media (min-width: $desk) {
      display: none;
    }
  }

  &__close {
    position: relative;
    z-index: 13;

    @media (min-width: $desk) {
      display: none;
    }
  }

  &__links {
    display: none;

    @media (min-width: $desk) {
      display: flex;
      column-gap: 2rem;

      a {
        text-decoration: none;
        color: var(--white);
        font-family: var(--font-alata);
        font-weight: 500;
      }
    }
  }
}

// Dynamic Class

.dBlock {
  display: block;
  position: relative;
  z-index: 13;
}

.dNone {
  display: none;
  position: relative;
  z-index: 13;
}
