.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 120px;
  }

  &__burguer {
    width: 1.7rem;
  }

  &__links {
    display: none;

    @media (min-width: $desk) {
      display: block;
    }
  }
}
