.our-creations {
  @include layout;

  &__flex {
    @media (max-width: $desk) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__titleContainer {
    @media (min-width: $desk) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    @include title;
    margin-bottom: 3rem;

    @media (min-width: $desk) {
      margin: 3rem 0;
      text-align: left;
    }

    &__seeAllBtn {
      display: none;

      @media (min-width: $desk) {
        @include seAllBtn;
        height: 100%;
        display: block;
        margin: 0;
      }
    }
  }

  // Se all Button
  &__text {
    @include seAllBtn;
    display: block;
    @media (min-width: $desk) {
      display: none;
    }
  }

  &__card-flex {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @media (min-width: $desk) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    @media (min-width: $xxl) {
      gap: 2rem;
      justify-content: center;
    }
  }

  &__card {
    padding-top: 5rem;
    padding-left: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    box-shadow: inset 0px 0px 150px 0px rgba(#000000, 0.6);
    transition: var(--transition);

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $desk) {
      height: 400px;
      width: 190px;
      display: flex;
    }

    @media (min-width: $xxl) {
      width: 250px;
      height: 500px;
    }

    p {
      width: 125px;
      font-size: 1.5rem;
      letter-spacing: 0.8px;

      @media (min-width: $desk) {
        align-self: flex-end;
        margin-bottom: 2rem;
        font-size: 2rem;
        width: 160px;
      }
    }
  }
}

@import "./our-creations-cards";
